<% include ./partials/header %>
	<h1 style="text-align: center">Leave a message</h1>
<div class="row">
	<div style="width: 30%; margin: 25px auto;">
		<form action="/message" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="name">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="message" placeholder="message">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">Submit</button>
			</div>
		</form>
		<a href="/accidents">Go Back</a>
	</div>
</div>
<% include ./partials/footer %>