<% include ./partials/header %>
	<h1 style="text-align: center">Statistics</h1>
<div class="row">
	<div style="width: 30%; margin: 25px 300px;">
		<img src="https://www.medindia.net/images/common/health-statistics/950_400/state-ut-wise-major-percentage-share-of-suicides-in-india-2015.jpg" alt="abcsefgh">
		<br>
		<br>
		<img src="https://www.medindia.net/images/common/health-statistics/950_400/state-ut-wise-major-percentage-share-of-suicides-in-india-2015.jpg">
		<br>
		<br>
		<img src="https://www.medindia.net/images/common/health-statistics/950_400/state-ut-wise-major-percentage-share-of-suicides-in-india-2015.jpg">
		<br>
		<br>
		<img src="https://www.medindia.net/images/common/health-statistics/950_400/state-ut-wise-major-percentage-share-of-suicides-in-india-2015.jpg">
		<br>
		<br>

		<a href="/accidents">Go Back</a>
	</div>
</div>
<% include ./partials/footer %>